footer.footer
    div.container
        div.footer__top
            div.footer__social
                div.footer__social-title Подписывайтесь на нас:
                ul.footer__social-menu
                    +menu_social_item('footer_youtube.svg', 'Youtube', 'https://youtube.com', true)
                    +menu_social_item('footer_facebook.svg', 'Facebook', 'https://facebook.com', true)
                    +menu_social_item('footer_vk.svg', 'Вконтакте', 'https://vk.com', true)
                    +menu_social_item('footer_ok.svg', 'Одноклассники', 'https://ok.ru', true)
                    +menu_social_item('footer_instagram.svg', 'Instagram', 'https://instagram.com', true)
        div.footer__bottom
            div.footer__bottom-left
                div.footer__copyright © 2021 «Златоустовское телевидение»
                a(href="#") Политика конфиденциальности
            div.footer__bottom-right
                a(href="https://www.xpage.ru/" target="_blank")
                    img(src="../img/footer/xpage.svg" alt="xpage")

