$main-font: 'Frank', sans-serif;

$red: #9F0023;
$grey: #373334;
$light-grey: #F2F2F2;
$grey-secondary: #959595;

$background: $light-grey;
$main-text-color: $grey;

$button-primary-bg: $light-grey;
$button-primary-color: $red;
$button-primary-border: $red;

$path-color: $grey-secondary;